.badge-feed, .badge-story-tracker, .badge-story-filter {
	cursor: pointer;
}

.badge-feed-enabled {
	background-color: #5cb85c;
}

.badge-feed-disabled {
	background-color: #d9534f
}

.list-group-item:hover {
	background-color: #eee;
}

.focused-story, .focused-story:hover {
	background-color: #dff0d8;
}

.hide-story {
	display: none;
}

.jira-story {
	border-right: 7px solid #F1511A !important;
}

.crucible-story {
	border-right: 7px solid #9FD825 !important;
}

.svn-story {
	border-right: 7px solid #D82525 !important;
}

.bamboo-story {
	border-right: 7px solid #1AAAF1 !important;

.nameAndDate {
	font-size: x-small; 
}